In [3]:
import numpy as np
import pandas as pd
import textwrap
from pprint import pprint

from transformers import pipeline

c:\Users\b.ludwicki\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
df = pd.read_csv("bbc_text_cls.csv")
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [5]:
df['labels'].unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)

In [6]:
label = 'business'
texts = df[df['labels'] == label]['text']
texts.head()

0    Ad sales boost Time Warner profit\n\nQuarterly...
1    Dollar gains on Greenspan speech\n\nThe dollar...
2    Yukos unit buyer faces loan claim\n\nThe owner...
3    High fuel prices hit BA's profits\n\nBritish A...
4    Pernod takeover talk lifts Domecq\n\nShares in...
Name: text, dtype: object

In [7]:
i = np.random.choice(len(texts))
print(i)

461

In [9]:
doc = texts.iloc[i]
pprint(doc)

('GM issues 2005 profits warning\n'
 '\n'
 'General Motors has warned that it expects earnings this year be lower than '
 'in 2004.\n'
 '\n'
 "The world's biggest car maker is grappling with losses in its European "
 'business, and weak US sales. GM said higher healthcare costs in North '
 'America, and lower profits at its financial services subsidiary would hurt '
 'its performance in 2005. GM said it expects to meet its 2004 earnings '
 'targets "despite a tough competitive environment".\n'
 '\n'
 'GM, whose brands include Buick, Cadillac and Chevrolet in the US and Opel, '
 'Saab and Vauxhall in Europe, is due to reveal 2004 earnings on 19 January.\n'
 '\n'
 'It said it would deliver a shareholder payout of $6.0-$6.5 per share this '
 "year, as promised, but that next year's earnings per share would be lower, "
 'at between $4.0-$5.0. "We\'re following a roadmap that we believe will '
 'deliver strong results," said GM chief executive Rick Waggoner. GM said it '
 'was expecting "reduced financial losses" in Europe in 2005. It is in the '
 'midst of cutting 12,000 jobs - one fifth of the European total - in a bid to '
 'cut costs. The biggest job losses are in Germany. Its vehicle businesses '
 'have gained market share in three out of four regions in 2004, achieving '
 'record profitability in Asia Pacific and returning to profit in Latin '
 'America, the Middle East and Africa. The car maker has diversified into '
 'financial services, and is extending the reach of General Motors Acceptance '
 'Corp (GMAC), which has said it may enter the home loans market. GMAC has '
 'been a strong contributor to profits in 2004 but GM said it will do less '
 'well this year, delivering net income of $2.5bn. "Attaining earnings of $10 '
 'a share remains GM\'s goal," the company said, adding it believes it can '
 'achieve this in 2007.')

In [ ]:
#split doc function

def split_doc():